*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif !important;
}

header {
    background-color: #242121;
    width: 100%;
    max-height: 144px;
    z-index: 9999 !important;
    position: fixed;
}

.navbar-brand img {
    width: 55px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 15px;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    gap: 48px;
    font-size: 20px;
    color: white; 
}


header .nav-link:hover {
    color: #F24F4C;
}

.nav-link.active {
    color: #F24F4C; 
}

header .btn {
    margin-left: 48px;
    background-color: #F24F4C;
    color: white;
    border-radius: 16px;
}

.redBtn{
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    background-color: #F24F4C;
    border-radius: 16px;
    font-weight: 600;
    border: 1px solid #F24F4C;
    transition: 0.4s;
    max-width: 180px;
}

.redBtn:hover{
    background-color: white;
    color: #F24F4C;
}

header .btn:hover {
    background-color: white;
    color: #F24F4C;
}

.intro-btn-cont{
    gap: 14px;
}

.nav-menu {
    display: flex;
    align-items: center;
    color: white;
}

.nav-item:not(:last-child) {
    margin-right: 20px; 
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main{
    padding: 90px 0px;
}

#intro{
    padding: 45px 0;
}

#intro h1{
    font-weight: 600;
    font-size: 45px;
}

.intro-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 80px;
    gap: 15px;
}

#intro .img-cont{
    text-align: right;
}

#data{
    padding: 90px 0;
}

#data .informacion{
    padding: 35px 50px;
    background-color: #242121;
    color: white;
    text-align: center;
    border-radius: 16px;
    border: 3px solid #F24F4C;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#data .informacion h2 span, #data .integrantes h2 span{
    color: #F24F4C;
}

#data .integrantes h2{
    font-weight: 600;
    padding-bottom: 15px;
}

#data .informacion h2{
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 15px;
}

#data ul li{
    list-style: none;
    padding: 10px 0;
}

#data .integrante-card{
    display: flex;
    align-items: center;
    gap: 25px;
}

#data .integrante-card h3{
    font-size: 24px;
    font-weight: 600;
}



#data .integ-card-cont h5{
    font-size: 18px;
    padding-bottom: 12px;
}

#data .integrantes-cont{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#data .integrante-card img{
    width: 124px;
    height: 124px;
    object-fit: cover;
    border-radius: 50%;
}

#avances{
    padding: 90px 0;
    text-align: center;
}

#avances h2{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 15px;
}



#avances .avances-card{
    padding: 35px 50px;
    background-color: bisque;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#avances .avances-card h3{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 5px;
}

#avances .avances-card p{
    padding-bottom: 25px;
}

#avances .avances-card img{
    width: 155px;
    height: 155px;
    border-radius: 15px;
}
.paleta-title{
    padding: 35px;
}

.paleta-cont{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.paleta-square{
    width: 130px;
    height: 130px;
    border-radius: 16px;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rojo{
    background-color: #F24F4C;
    color: white;
}

.negro{
    background-color: #242121;
    color: white;
}

.gris{
    background-color: #e8e8e8;
    border: 1px solid gray;
}

.blanco {
    background-color: white;
    border: 1px solid gray;
}


.arbol-head{
    padding-top: 65px;
}

#figma{
    padding: 35px 50px;
    background-image: url('/img/carru1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 24px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    background-position: center;
    background-blend-mode: multiply;
}

#figma h2{
    font-size: 52px;
    font-weight: 700;
}

#video{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 90px 0;
}
#video h2{
    font-size: 50px;
    font-weight: 600;
}

#video iframe{
    border-radius: 16px;
}



footer {
    background-color: #242121;
    padding: 20px;
    color: white;
}

.footer{

    display: flex;
    padding: 33px 0;
    align-items: center;
}

.footer img {
    width: 108px;
    height: 108px;
    margin-right: 20px;
    border-radius: 40px;
}

.footer div {
    display: flex;
    flex-direction: column;
}

.footer p{
    color: #FFF;
    justify-content: center;
    text-align: center;
}

.footer-cont{
    border-top: 2px solid #676767;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-footer{
    display: flex;
    gap: 20px;
    align-items: center;
}



.social-footer img{
    width: 250px;
}


@media screen and (max-width: 768px) {
    header {
        height: auto; 
        max-height: 100% !important;
        position: fixed;
    }

    h1{
        font-size: 30px !important;
    }

    h2{
        font-size: 35px !important;
    }

    .navbar-brand img {
        width: 54px;
        height: 54px;
    }

    .navbar-nav {
        margin-left: 0; 
        flex-direction: column; 
        background-color: #242121; 
    }

    .nav-item:not(:last-child) {
        margin-right: 0; 
    }

    .navbar-collapse{
        flex-direction: column;
    }

    .navbar-toggler {
        background-color: white;
        color: white; 
    }

    .nav-link {
        gap: 24px;
    }

    header .btn {
        margin-left: 0;
        margin-right: 15px;
    }

    .img-cont img, .arbol-img{
        width: 100%;
    }

    .intro-txt{
        padding-right: 12px;
    }
    .img-cont img{
        margin-top: 20px;
    }

    #data{
        padding: 25px 15px;
    }
    
    #data .integrantes{
        padding: 55px 0;
    }

    #data .integrantes-cont{
        padding: 45px 0;
    }

    #data .integrantes h3{
        font-size: 20px;
    }

    #data .integrantes h5{
        font-size: 16px;
    }
    
    #data .informacion{
        padding: 35px;
    }

    #data .informacion h2{
        font-size: 30px;
    }

    #data .informacion ul{
        padding: 0 !important;
    }

    #avances .avances-card{
        padding: 35px;
    }

    .paleta-title{
        padding: 25px 0
    }

    .paleta-cont{
        flex-wrap: wrap;
    }

    #figma{
        padding: 35px;
    }

    #figma h2{
        font-size: 25px !important;
        text-align: center;
    }

    iframe{
        max-height: 300px;
    }

    #video{
        padding-bottom: 0;
    }

    .footer img {
        width: 54px;
        height: 54px;
    }


    .footer {
        flex-direction: column; 
        align-items: center; 
    }
    .text{
        padding-top: 20px;
    }

    .footer-cont{
        flex-direction: column;
    }
}